<%# 
<form action="/users" method="POST" accept-charset="UTF-8" data-turbo=false>
    <input
    type="hidden"
    name="authenticity_token"
    
    >

    <div>
        <label for="username">Name:</label>
        <input type="text" name="user[username]" />
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" name="user[email]" />
    </div>
    <div>
        <label for="password">Password :</label>
        <input type="password" name="user[password]" />
    </div>
    <button type="submit">Create</button>
</form> %>



<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
    
  </div>
  <div>
    <% if @user.errors.any? %>
            <% @user.errors.where(:username).each do |message| %>
                <p>* <%= message.full_message %></p>
            <% end %>
    <% end %> 
  </div>
  
  
  <div>
    <%= form.label :email, "Your Email :" %>
    <%= form.email_field :email, placeholder: "your@email.com" %>
  </div>
  <div>
      <% if @user.errors.any? %>
              <% @user.errors.where(:email).each do |message| %>
                  <p>* <%= message.full_message %></p>
              <% end %>
      <% end %> 
    </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
      <% if @user.errors.any? %>
              <% @user.errors.where(:password).each do |message| %>
                  <p>* <%= message.full_message %></p>
              <% end %>
      <% end %> 
    </div>
  <%= form.submit "Create" %>
<% end %> 
